<div class="position-fixed py-4">
  <a href="/dang-ky" class="text-decoration-none fs-5">
    <i class="fa-solid fa-caret-left"></i>
    <span>Đăng ký</span>
  </a>
</div>

<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg" class="img-fluid" alt="Phone image">
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <h1 class="text-center mb-4 text-primary">Đăng nhập</h1>

        <% if (msg.length) { %>
        <div class="alert text-center mb-3 <%= alertSuccess ?? "alert-danger" %>"><%= msg %></div>
        <% } %>

        <form action="" method="post">
          <!-- Email input -->
          <div class="form-outline mb-3">
            <label class="form-label" for="form1Example13">Nhập email</label>
            <input name="email" type="text" id="form1Example13" class="form-control form-control-lg" value="<%= req.old.email %>" />
            <span class="text-danger d-inline-block mt-1"><%= req.errors.email %></span>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <label class="form-label" for="form1Example23">Nhập mật khẩu</label>
            <input name="password" type="password" id="form1Example23" class="form-control form-control-lg" value="<%= req.old.password %>" />
            <span class="text-danger d-inline-block mt-1"><%= req.errors.password %></span>
          </div>

          <!-- Submit button -->
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary w-100 btn-lg btn-block m-auto">Đăng nhập</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>